<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" href="/assets/css/stylesheet.css">
    <title>Quiz Stack</title>
    <!-- Shortcut icon -->
    <link rel="shortcut icon" type="img/png" href="/assets/images/qsLogo.jpg" />
</head>

<body style="background-image: url('/assets/images/noise-bg.png');background-repeat: repeat;" class="pb-5 mb-5">
    <nav class="navbar navbar-expand-md navbar-light bg-light py-0 my-0">
        <div class="container">
            <h2>
                <a id="quizStack" class="navbar-brand h-100 px-3" onclick="window.location.href='/'">Quiz Stack</a>
            </h2>
            <div id="navbarTogglerDemo02">
                <ul class="navbar-nav ml-auto mt-2 mt-md-0">
                    <li class="time"></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <br />
        <div class="row">
            <main id="card-wrapper" class="col-md-12 mb-5">
                {{{body}}}
                <footer>
                    <div class="card row fixed-bottom bg-dark border-top border-info border-bottom-0"
                        style="border-width: 3px !important;">
                        <div class="card-body text-center">
                            <span class="text-white-50">&copy;2020 Quiz Stack</span>
                            <p class="text-muted">
                                <a class="ghlink" href="https://github.com/RyanFCarr" target="_blank">Ryan Carr</a> |
                                <a class="ghlink" href="https://github.com/graysondeese" target="_blank">Grayson Deese</a> |
                                <a class="ghlink" href="https://github.com/cglennon924" target="_blank">Christopher Glennon</a> |
                                <a class="ghlink" href="https://github.com/brushing1215" target="_blank">Brett Rushing</a>
                            </p>
                        </div>
                    </div>
                </footer>
            </main>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" data-auto-replace-svg="nest"></script>
    <script src="/assets/js/main.js"> </script>
</body>

</html>