<div id="default" class="card">
    <div class="card-body">
        <h5 class="card-title text-center">High Scores</h5>
        <hr />
        <div>
            <div class="row mx-1 ">
                <div class="col-12 col-md-10 col-lg-12 text-center">
                    <div id="highScoreTable">
                    {{#each highscores}}
                    <p>{{username}}</p>
                    <p>{{score}}</p>
                    {{/each}}
                    </div>
                    <!--Go Home here-->
                    <div class="col text-center">
                        <button id="goHomeBtn" class="btn btn-success" onclick="redirect()">
                            Home
                        </button>
                        <button id="clearScoresBtn" class="btn btn-secondary">
                            Clear Scores
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>