<div id="default" class="card">
    <div class="card-body">
        <h5 class="card-title text-center"> Quiz Stack Challenge!</h5>
        <hr />
        <!--Row for Instructions-->
        <div class="d-flex">
            <div class="row mx-1 justify-content-center">
                <div class="col-12 col-md-10 col-lg-8 text-center">
                    <p>
                        Welcome to Quiz Stack!
                        Test your luck and see how many questions you can get correct, and dont forget to post your
                        score.
                        Also, make sure you check out the leader board.
                    </p>
                    <form id="dropdown">
                        <select multiple name="category"
                            data-style="bg-secondary text-light rounded-pill px-4 py-3 shadow-sm" 
                            data-none-selected-text="Choose your categories" class="selectpicker w-100 mb-4">
                            {{#each categories}}
                                <option value="{{id}}">{{categoryText}}</option>
                            {{/each}}
                        </select>
                        <input name="questionLimit" type="number" min="1" placeholder="number of questions"></input>
                        <br />
                        <!--Start Button here-->
                        <div class="col text-center mt-4">
                            <button id="startBtn" type="button" class="btn btn-success">Click to begin!</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script defer src="/assets/js/index.js"></script>