<div class="card text-center">
    <div class="card-header">SQL - Question {{id}}</div>

    <div class="card-body">
        <h5 class="card-title my-3">{{questionText}}</h5>
        <p class="card-text">
        <div class="row">
            {{#each answers}}
            <div class="col-12 col-lg-6 py-3">
                <button class="btn btn-primary btn-block answer-button" data-iscorrect="{{isCorrect}}">{{answerText}}</button>
            </div>
            {{/each}}
        </div>
        </p>
    </div>

    <div id="answer-eval" class="card-footer font-weight-bold"></div>
</div>
<script defer src="/assets/js/quiz.js"></script>
