<div class="card text-center">
    <div class="card-header">SQL - Question {{id}}</div>

    <div class="card-body">
        <h5 class="card-title my-5">{{questionText}}</h5>
        <p class="card-text">
            {{#each answers}}
                <a href="#" class="btn btn-primary" data-isCorrect="{{isCorrect}}">{{answerText}}</a>
            {{/each}}
        </p>   
    </div>

    <div class="card-footer text-muted">Correct!</div>
</div>
