<div class="card text-center">
    <div class="card-header">Quiz Complete!</div>

    <div class="card-body">
        <h5 class="card-title my-3">Enter a nickname</h5>
        <input id="username" type="text"></input>
        <button id="submit" class="btn-primary">Submit</button>
    </div>
</div>
<script defer src="/assets/js/quiz-end.js"></script>